
/* Your styles should be mobile-first and responsive */

/**
* If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example:
*
* https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css
*
*/
/*
  * These are your base styles.
  * Write these styles 1st!
  */
* {
  box-sizing: border-box;
}



/*
 * Here is where you would override your base styles
 * for screens that are larger than 700px.
 *
 * Write these styles 2nd!
 *
 * You don't need to write separate styles here
 * UNLESS you are overriding your base styles.
 */
@media (min-width: 700px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  .main-nav-list-item {
    float:left;
    width: 25%;
  }
  /*
  * A grid can do this math for you!
  */
  .box {
    width: 47%;
    float: left;
  }
  /*
   * targeting every other '.box' to add a right margin
   */
  .box:nth-child(odd) {
    margin-right: 6%;
  }
}

/*
 * Here is where you would write your styles for screens
 * larger than 1024px.
 *
 * These styles OVERRIDE any styles written above.
 *
 * Write these styles 3rd!
 */
@media (min-width: 1024px) {
  /*
  * A grid can do this math for you!
  */
  .box {
    width: 29.33%;
    float: left;
    margin-right: 6%;
  }
  /*
   * targeting every third '.box' to add a right margin
   */
  .box:nth-child(3n+3) {
    margin-right: 0;
  }
}





.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  /*
    outline: 2px solid gray;
    */
  background-color: darkgrey;
}

.wireframe {
  outline: 2px solid gray;
  background-color: grey;
  text-align: center;
}

.placeholder {
  outline: 2px solid gray;
  background-color: lightgrey;
  width: 600px;
  height: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#mycheese {
  height: 200px;
  width: 200px;
}

p {
  font-size: 30px;
  margin: 15px;
}

fieldset {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: darkgrey;
}

label {
  margin: 10px;
  font-size: 20px;
}

.mySubmitButton {
  font-size: 20px;
}

.myNextButton {
  font-size: 30px;
}

.myAgainButton {
  font-size: 30px;
}

h3 {
  font-size: 10px;
}

#greycheese {
  width: 200px;
  height: 200px;
}
